
.view-expenses {
  ul.sortable {
    padding-left: 0;
    margin-bottom: 0;
  }

  .file-selector-row {
    margin-bottom: 10px;
  }

  .expense-actions {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0.75rem;
  }

  @media (max-width: 767.98px) {
    .expense-actions {
      justify-content: flex-start;
    }
  }

  .pin-column-button
  {

  }
}
