

.view-tenants
{
  .unit-row
  {
    cursor: pointer;
  }

  .action-column
  {
    max-width: 70px;
  }

  .tenant-row.selected-tenant-row
  {
    background-color: #eee;
  }


  .rdt:not(.rdtOpen)
  {
    cursor: pointer;
    input {
      cursor: pointer;
    }
  }

  .rdt:not(:hover)
  {
    input {
      border: 1px #fff;
    }
  }

  .rdtPicker {
    width: auto;
  }
}