

.view-stabilized-statement
{


  .name-column
  {

  }
  .amount-column
  {
    text-align: right;
    max-width: 60px;


    .field-display-edit
    {
      input {
        text-align: right;
      }
    }
  }
  .action-column
  {
    max-width: 20px;
  }

  .total-row
  {
    .name-column
    {
      padding-left: 30px;
    }
    .amount-column
    {
      padding-right: 30px;
    }
  }
}