

.view-tenants-rent-roll
{



  .download-dropdown-button, .action-button
  {
    float: none;
    margin-left: 10px;
    height: 35px;
  }


  .button-bar
  {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

}