.leaseImage
{
  max-width: 100%;
  pointer-events: none;
  user-select: none;
}

.view-lease-canvas
{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000;
  pointer-events: none;
}

.view-lease-word
{
  position: absolute;
  background-color: #00000000;
  color: #00000000  ;
  border-radius: 3px;
}

.view-lease-word:hover
{
  position: absolute;
  cursor: pointer;
  background-color: #0000bbaa;
  color: #00000000;
  border-radius: 3px;
}

.lease-image-container
{
  position: relative;
}