

.leasing-cost-structures-list
{
  display: flex;
  flex-direction: column;
  justify-items: stretch;
  justify-content: stretch;
  width: fit-content;
}

.leasing-cost-structure-editor
{
  border: 1px solid lightgray;
  width: fit-content;

  a:hover
  {
    cursor: pointer;
    text-decoration: underline !important;
  }


  .title
  {
    font-size: 150%;
  }

  .label-column
  {
    padding-right: 15px;
    min-width: 150px;
  }

  .delete-button
  {
    float: right;
    margin-top: 10px;
  }

  .leasing-cost-structure-table
  {
    .value-column
    {
      display: flex;
      flex-direction: row;
      white-space: nowrap;
      justify-content: space-between;
      width: 100%;
      min-width: 350px;
    }
  }

  .none-found
  {
    font-size: 85%;
    font-style: italic;
  }


  .unit-size-column, .calculated-vacant-unit-leasup-costs-column, .should-treat-unit-as-vacant-column, .calculated-vacant-unit-rent-loss
  {
    padding-left: 15px;
    text-align: right;
    min-width: 150px;
  }

  .should-treat-unit-as-vacant-column
  {
    display: flex;
    justify-content: flex-end;
    .field-display-edit
    {
      width: auto;

    }
  }


  .header-row
  {
    .unit-size-column
    {

    }

    .calculated-vacant-unit-leasup-costs-column
    {

    }

    .calculated-vacant-unit-rent-loss
    {

    }
  }

  .total-spacer-row
  {
    td {
      padding-top: 15px;
    }

    .unit-size-column
    {
      border-bottom: 1px solid black;
    }

    .calculated-vacant-unit-leasup-costs-column
    {
      border-bottom: 1px solid black;
    }

    .calculated-vacant-unit-rent-loss
    {
      border-bottom: 1px solid black;
    }
  }

  .total-row
  {
    .value-column
    {
      justify-content: flex-end;
      text-align: right;
    }
  }
}

.new-leasing-cost-structure
{
  border: 0;
  .btn {
    border: 1px solid lightgray;
    padding-top: 20px;

    padding-bottom: 20px;
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: #777;
  }
}
