.leaseImage
{
  max-width: 100%;
  pointer-events: none;
  user-select: none;
}

.view-lease-canvas
{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000;
  pointer-events: none;
}

.view-lease-word
{
  position: absolute;
  cursor: pointer;
  background-color: #00000000;
  color: #00000000  ;
  border-radius: 3px;
}

.view-lease-word:hover, .view-lease-word.selected, .view-lease-word.selected:hover,
.view-lease-word.classified:hover, .view-lease-word.classified.selected, .view-lease-word.classified.selected:hover
{
  background-color: #0000bbaa;
}

.view-lease-word.classified
{
  background-color: rgba(0, 0, 255, 0.3);
}

.lease-image-container
{
  position: relative;
}

.view-lease-form-field
{
  cursor: pointer;
}

.view-lease-form-field:hover
{
  background: #00000009;
}
.view-lease-form-field-title
{
  cursor: pointer;
}

.view-lease-extracted-data
{
  white-space: normal;
}