

.recovery-structures-list
{
  display: flex;
  flex-direction: column;
  justify-items: stretch;
  justify-content: stretch;
  width: fit-content;
}


.recovery-structure-editor
{
  border: 1px solid lightgray;
  width: fit-content;

  a:hover {
    text-decoration: underline !important;
    cursor: pointer;
  }

  .title
  {
    font-size: 150%;
  }

  .label-column
  {
    padding-right: 15px;
    min-width: 200px;
  }

  .seperator {
    padding-left: 15px;
    padding-right: 15px;
  }

  .expense-name
  {
    flex-grow: 1;
    white-space: nowrap;
  }

  .label-row td
  {
    padding-top: 25px;
  }

  .size-note
  {
    flex-grow: 1;
    white-space: nowrap;
    padding-right: 15px;
  }


  .delete-button
  {
    float: right;
    margin-top: 10px;
  }

  .units-applicable-table
  {
    width: 100%;
  }

  .recovery-structure-table
  {
    .rule-percentage-column
    {
      min-width: 250px;
    }

    .rule-field-column
    {
      display: flex;
      flex-direction: row;
      align-items: center;
      vertical-align: middle;
      min-width: 300px;
    }

    .rule-calculated-amount-column
    {
      padding-left: 15px;
      min-width: 100px;
      text-align: right;
      vertical-align: middle;
      //border-left: 1px dashed lightgray;
    }

    .total-spacer-row {
      td {
        padding-top: 15px;
      }
    }

    .total-row
    {
      .rule-field-column
      {
        position: relative;
        top: -1px;
        border-top: 1px solid black;
        float: right;
      }


      .rule-calculated-amount-column
      {
        border-top: 1px solid black;
      }
    }

    .header-row
    {
      .label-column
      {
        padding-right: 15px;
      }


      .rule-calculated-amount-column
      {

      }
    }
  }
}

.new-recovery-structure
{
  border: 0;
  .btn {
    border: 1px solid lightgray;
    padding-top: 20px;

    padding-bottom: 20px;
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: #777;
  }
}
