

.view-stabilized-statement
{
  .stabilized-statement-centered
  {
    position: relative;
    min-width: 50%;

    h3, h4 {
      text-align: center;
    }

    .final-valuation
    {
      font-family: monospace, sans-serif;
      letter-spacing: -2px;
      font-style: italic;
      font-weight: bolder;
      color: black;
      text-decoration: underline;
    }
  }

  .stabilized-statement-inputs
  {
    border: 1px solid lightgray;
    float: right;

    .management-expense-rule
    {
      display: flex;
      flex-direction: row;
      align-items: center;

      .spacer {
        margin-left: 10px;
        margin-right: 10px;
      }

      .field-display-edit {
        flex-shrink: 1;
      }
    }
  }

  .title {
    font-weight: bold;
    font-size: 150%;
  }

  .statement-table
  {
    margin-left: auto;
    margin-right: auto;
    width: auto;

    a {
      color: #656565;
    }

    a:hover {
      color: #656565;
      text-decoration: underline;
      cursor: pointer;
    }

    td {
      vertical-align: middle;
    }

    .title-row
    {

    }

    .data-row
    {
      font-family: monospace, serif;
    }

    tr:not(.title-row)
    {
      td.label-column
      {
        padding-left: 25px;
      }
    }

    td.amount-column
    {
      padding-left: 20px;
      font-family: monospace, serif;
      text-align: right;
    }

    td.amount-total-column
    {
      padding-left: 20px;
      font-family: monospace, serif;
      text-align: right;
    }

    td.label-column
    {
      padding-right: 50px;
    }

    tr.statement-sum-after-row td.amount-column
    {
      border-bottom: 1px solid grey;
    }

    tr.statement-total-sum-row td.amount-total-column {
      border-bottom: 1px solid grey;
    }

    tr.statement-sum-row td, tr.statement-total-sum-row td
    {
      padding-top: 25px;
    }

    tr.title-row td
    {
      padding-top: 25px;
      &.amount-total-column
      {
        font-weight: bold;
        color: black;
      }
    }

    tr.rounding-row
    {
      td.amount-total-column
      {
        font-weight: bold;
        color: black;
      }
    }

    tr.capitalization-row, tr.vacancy-row
    {
      td.label-column
      {
        display: flex;
        flex-direction: row;
        align-items: center;

        span
        {
          white-space: nowrap;
        }

        .field-display-edit
        {
          flex-grow: 1;
          flex-shrink: 1;
        }
      }
    }

    td {
      padding: 2px;
      border: 0;
    }
  }
}


.explanation-popover-table
{
  td:first-child
  {
    font-weight: bold;
  }

  td:not(:first-child)
  {
    padding-left: 10px;
  }

  td:not(:last-child)
  {
    padding-right: 10px;
  }

  td.underline
  {
    border-bottom: 1px solid black;
  }

  tr.total-row td
  {
    padding-top: 10px;
  }
}