.annotationEditorImage
{
  max-width: 100%;
  pointer-events: none;
  user-select: none;
}

#annotation-editor-side-menu div.side-menu-scroll-area
{
  height: 75vh;
  overflow-y: scroll;
}

.annotation-editor-canvas
{
  width: 150%;
  height: 100%;
  position: absolute;
  z-index: 1000;
  pointer-events: none;
}

.line-token, .column-token, .group-block-token
{
  position: absolute;
  background-color: #5d9cec55;
  border: 1px dashed black;
}

.table-block-token
{
  position: absolute;

  border: 2px dashed black;
}

.table-block-token.table
{
  background-color: #5d9cec55;
  //background-image: url("/img/table-watermark.png");
  //background-repeat: repeat;
}

.table-block-token.block
{
  background-color: rgba(236, 235, 0, 0.33);
  //background-image: url("/img/block-watermark.png");
  //background-repeat: repeat;
}

.line-token:hover, .column-token:hover, .group-block-token:hover
{
  background-color: #5d9cec99;
  border: 1px solid black;
}


.annotation-editor-word
{
  position: absolute;
  cursor: pointer;
  background-color: #00000000;
  color: #00000000  ;
  border-radius: 3px;
}

.annotation-editor-word:hover, .annotation-editor-word.selected, .annotation-editor-word.selected:hover,
.annotation-editor-word.classified:hover, .annotation-editor-word.classified.selected, .annotation-editor-word.classified.selected:hover
{
  background-color: #0000bbaa;
}

.annotation-editor-word.classified
{
  background-color: rgba(0, 0, 255, 0.3);
}

.annotation-editor-image-outer-container
{
  overflow: auto;
}

.annotation-editor-image-inner-container
{
  position: relative;
  width: fit-content;
}

.annotation-editor-form-field
{
  cursor: pointer;
}

.annotation-editor-form-field:hover
{
  background: #00000009;
}
.annotation-editor-form-field-title
{
  cursor: pointer;
}

.annotation-editor-extracted-data
{
  white-space: normal;
}

.annotationEditorImageThumbnail
{
  cursor: pointer;
  max-width: 100%;
}

.extractions-toolbar
{
  background: white;
  position: absolute;
  right: 0;
  z-index: 1000;
  display: flex;
  flex-direction: row;

  div {
    margin-right: 10px;
  }

  .toolbar-label {
    position: relative;
    top: 5px;
  }

  em {
    cursor: pointer;
  }
}

.block-background
{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  user-select: none;
  overflow: hidden;
}

.block-background-unit
{
  position: absolute;

  div.block-background-unit-inner
  {
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    font-stretch:normal;
    font-size:30px;
    line-height:1.25;
    letter-spacing: 0;
    word-spacing: 0;
    opacity:0.151;
    transform: rotate(-45deg);
    text-align: center;

    span {
      pointer-events: none;
      user-select: none;
    }
  }
}