

.comparable-adjustment-chart {
  width: 100%;

  border: 1px solid #cfdbe2;
  border-radius: 0.25rem;
  padding: 7px;

  .adjustment-chart-table {
    width: 100%;

    .name-column {
      min-width: 200px;

      display: flex;
      flex-direction: row;

      .field-display-edit.edit-type-text {
        flex-grow: 1;
      }

      .field-display-edit.edit-type-adjustmentType {
        flex-basis: 30%;
      }
    }


    .new-adjustment-button {
      width: 100%;
    }

    tr {
    }

    tr.adjusted-amount-row td.adjustment-column {
      border-top: 1px solid #9aa4aa;
    }

    td {
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 2px;
      padding-right: 2px;
    }

    td:first-child {
    }

    td:last-child {
    }

    tr:first-child {
      td {
      }

      td:first-child {
      }

      td:last-child {
      }
    }

    tr:last-child {
      td {
      }

      td:first-child {
      }

      td:last-child {
      }

    }
  }
}

