


.field-display-edit
{
  display: flex;
  align-items: flex-end;

  .input-group-append
  {
    //transition: opacity 0.2s ease-in-out;
  }

  &.edit-type-boolean
  {
    input
    {
      margin-left: 15px;
    }
  }

  input, textarea, select, .zone-selector .zone-selector__control, .tag-editor .tag-editor__control, .tenant-name-selector .tenant-name-selector__control {
    transition: border-color 0.2s ease-in-out;
  }


  &.editable
  {
    input, textarea, select, select:focus, .zone-selector .zone-selector__control, .tag-editor .tag-editor__control, .tenant-name-selector .tenant-name-selector__control  {
      border: 1px solid lightgray;
      box-shadow: 0 0;
      background: transparent;
    }

    &.static:hover
    {
      .input-group-append
      {
        opacity: 0.5;
      }
      input, textarea, select, .zone-selector .zone-selector__control, .tag-editor .tag-editor__control, .tenant-name-selector .tenant-name-selector__control  {
        cursor: pointer;
      }
    }


    &.static:hover, &.editing
    {
      input, textarea, select, .zone-selector .zone-selector__control, .tag-editor .tag-editor__control, .tenant-name-selector .tenant-name-selector__control  {
        background: white;
      }
    }
  }

  &.non-editable
  {
    input:disabled, textarea:disabled, select:disabled, .zone-selector .zone-selector__control, .tag-editor .tag-editor__control, .tenant-name-selector .tenant-name-selector__control
    {
      background: transparent;
      color: #656565;
    }
  }


  &.static.hide-input:not(:hover), &.hide-input.non-editable
  {
    .input-group-append
    {
      opacity: 0;
    }

    input, textarea, select, .zone-selector .zone-selector__control, .tag-editor .tag-editor__control, .tenant-name-selector .tenant-name-selector__control
    {
      border: 1px white;
      border-radius: 0;
    }

    padding-right: 1px;
  }

  &.hide-input.non-editable {
    .input-group-append {
      display: none;
    }
  }

  .rdt
  {
    flex-grow: 1;
  }

  .zone-selector, .tag-editor, .tenant-name-selector
  {
    flex-grow: 1;
  }

 .zone-selector__dropdown-indicator, .zone-selector__indicator-separator, .zone-selector__loading-indicator, .tag-editor__indicators, .tenant-name-selector__dropdown-indicator, .tenant-name-selector__indicator-separator, .tenant-name-selector__loading-indicator
  {
    display: none;
  }


  textarea {
    flex-grow: 1;
    resize: none;
    height: 100%;
    min-height: 150px;
    padding: 0.375rem 1rem;
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    color: #495057;
  }

  textarea::placeholder {
    color: gray;
  }

  .geosuggest {
    position: relative;
    text-align: left;
    flex-grow: 1;

    input {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .geosuggest__suggests {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 25em;
    padding: 0;
    margin-top: -1px;
    background: #fff;
    border: 1px solid #66afe9;
    border-top-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    overflow-x: hidden;
    overflow-y: auto;
    list-style: none;
    z-index: 5;
    //-webkit-transition: max-height 0.2s, border 0.2s;
    //transition: max-height 0.2s, border 0.2s;
  }
  .geosuggest__suggests--hidden {
    max-height: 0;
    overflow: hidden;
    border-width: 0;
  }

  /**
   * A geosuggest item
   */
  .geosuggest__item {
    font-size: 18px;
    font-size: 1rem;
    padding: .5em .65em;
    cursor: pointer;
  }
  .geosuggest__item:hover,
  .geosuggest__item:focus {
    background: #f5f5f5;
  }
  .geosuggest__item--active {
    background: #267dc0;
    color: #fff;
  }
  .geosuggest__item--active:hover,
  .geosuggest__item--active:focus {
    background: #ccc;
  }
  .geosuggest__item__matched-text {
    font-weight: bold;
  }
}