


.tag-editor
{
  .tag-editor-option
  {
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
  }

  .tag-editor__value-container
  {
    padding-left: 12px;
  }


  .tag-editor-option:hover
  {
    background-color: lightgray;
  }

  .delete-tag-button
  {
    margin-left: 25px;
    font-size: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}