

.units-table
{
  td {
    padding: 0;
  }

  .new-unit-button
  {
    width: 100%;
  }

  .new-unit-row td
  {
    padding-top: 20px;
  }

  .header-row
  {
    td {
      border-top: 1px solid gray;
      border-bottom: 1px solid  gray;
    }
  }

  tr.first-total-row
  {
    td.square-footage-column, td.rent-column {
      border-top: 1px solid gray;
      border-bottom: 1px solid gray;
    }
  }



  td.square-footage-column, td.rent-column {
    text-align: right;
  }


  &.allow-selection {
    .unit-row {
      cursor: pointer;
    }
  }

  .action-column
  {
    .btn {
      opacity: 0;
      pointer-events: none;
      transition: opacity 0s;
    }
    max-width: 70px;
    padding-left: 10px;
  }

  &.allow-selection
  {
    .unit-row:hover
    {
      .action-column
      {
        .btn {
          opacity: 1;
          pointer-events: all;
        }
      }
    }
  }

  .unit-row.selected-unit-row
  {
    background-color: #eee;
  }
}