
.uploadable-image {
  position: relative;

  .uploadable-image-wrapper {
    position: relative;
  }

  img {
    width: 100%;
  }

  .upload-image-overlay {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    background-color: black;
    opacity: 0.0;
    transition: opacity 0.2s ease-in-out;
  }

  .upload-image-icon {
    position: absolute;
    left: calc(50% - 30px);
    top: calc(50% - 30px);
    opacity: 0.0;
    transition: opacity 0.2s ease-in-out;

    i.fa {
      font-size: 60px;
      color: white;
    }
  }

  &.editable {
    .uploadable-image-wrapper {

      cursor: pointer;

      &:hover {
        .upload-image-overlay {
          opacity: 0.3;
        }
        .upload-image-icon {
          opacity: 1.0;
        }
      }
    }
  }

}