plaster_pastedeploy
pyramid
pyramid_jinja2
pyramid_debugtoolbar
waitress
cornice
pymongo
pillow
filetype
python-docx
orjson
matplotlib
dateparser
python-dateutil
mongoengine
pycollada
tensorflow===1.15.4
gunicorn
scipy
scikit-learn
openpyxl
scikit-image
jwcrypto
jsondiff
dnspython
google-cloud-storage
auth0-python
